ol.faq-toc {
	list-style: none;
	padding-left: 0px;
	counter-reset: item;
}

ol.faq-toc ol {
	list-style: none;
	counter-reset: item;
}

ol.faq-toc li {
        counter-increment: item;
}

ol.faq-toc ol li:before {
	content: counters(item, ".") " ";
}

.faq {
	margin: 0;
	padding-bottom: 0.5em;
}

.faq dt {
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.toc_section {
	font-weight: 600;
}

.faq a.self,
.faq a.self:visited {
	transition: color 0.5s ease-in-out;
	margin-left: 0.5em;
	color: #999;
}

.faq a.self:hover {
	color: #333;
}

.faq * {
	transition: background 3s ease-in;
	background-color: inherit;
}

.faq .highlight {
	transition: background 0.5s ease-out;
	background-color: #ffffaa;
}

.faq dt.selected {
	font-weight: 800;
}
