ol.faq-toc {
	list-style-position: inside;
	padding-left: 0px;
}

ol.faq-toc ol {
	list-style-position: outside;
}

.faq {
	margin: 0;
	padding-bottom: 0.5em;
}

.faq dt {
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.toc_section {
	font-weight: 600;
}

.faq * {
	transition: background 3s ease-in;
	background-color: inherit;
}

.faq .highlight {
	transition: background 0.5s ease-out;
	background-color: #ffffaa;
}

