html,body {
	height: 100%;
}

.vcenter-parent {
	height: 100%;
	width: 100%;
	display: table;
	background: #422307 url(../img/index-bg.jpg) no-repeat center center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vcenter-content {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 6%;
}

.play-button {
	display: block;
	margin: 4em auto;
	text-align: center;
}

.play-button a,
.play-button a:visited {
	color: #fff;
}

.play-button a:hover,
.play-button a:active {
	color: #aaa;
}

.buttons ul {
	margin: 0em auto;
	padding: 0;
	text-align: center;
}

.buttons ul li {
	margin: 1em 1em;
	display: inline-block;
}

.buttons ul a {
	padding: 4px 20px;
	display: inline-block;
	border: solid 2pt #fff;
	font-weight: 600;
}

.buttons ul a,
.buttons ul a:visited {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}

.buttons ul a:hover {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}

.buttons ul.overlay {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 100000;
}

.social-row {
	margin-top: 1em;
	text-align: center;
}

