html {
	height: 100%;
	background-color: #555;
	background: url(../img/index-bg.jpg) no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100%;
	background-color: transparent;
}

.vcenter-parent {
	height: 90%;
	display: table;
}

.vcenter-content {
	display: table-cell;
	vertical-align: middle;
}

.play-button {
	display: block;
	margin: 4em auto;
	text-align: center;
}

.play-button a,
.play-button a:visited {
	color: #fff;
}

.play-button a:hover,
.play-button a:active {
	color: #aaa;
}

.play-button .fa-inverse {
	color: #000;
	padding-left: 0.2em;
}

.buttons ul {
	margin: 0em auto;
	padding: 0;
	text-align: center;
}

.buttons ul li {
	margin: 1em 1em;
	display: inline-block;
}

.buttons ul a {
	padding: 4px 20px;
	display: inline-block;
	border: solid 2pt #fff;
	font-weight: bold;
}

.buttons ul a,
.buttons ul a:visited {
	color: #fff;
}

.buttons ul a:hover {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}
