---
layout: empty
meta_title: "Homer Player: an audiobook player for the elderly"
title: "Homer Player"
heading: "Homer Player"
description: "An audiobook player for the elderly and visually impaired"
meta_description: "A free application to convert a tablet into an audiobook player for the elderly and visually impaired."
extra_css:
 - index.css
 - lightview.min.css
extra_js:
 - lightview.js
extra_js_block: "$('.play-button a').click(function() { gaVirtualPageView('/index-video', 'Main page video') });"
---

<div class="container-fluid vcenter-parent">
  <div class="vcenter-content">
    <div class="title heading">
      <img src="img/icon-144.png">
      <h1>{{ page.title }}</h1>
      <hr>
      <span class="subheading">{{ page.description }}</span>
    </div>
  
    <div class="play-button">
      <a href="https://www.youtube.com/embed/RfLkoLtxzng?vq=large&autoplay=1&autohide=1&border=0&egm=0&showinfo=0"
          class="lightview" data-lightview-type="iframe"
          data-lightview-options="width: 853, height: 480, viewport: 'scale'">
        <i class="fa fa-play-circle fa-5x"></i>
      </a>
    </div>
  
    <div class="buttons">
      <ul>
        {% assign navigation = '/features.html,/install-test.html,/install-dedicated.html,/faq.html' | split:',' %}
        {% include nav-items.html navigation=navigation %}
      </ul>
    </div>

    {% include social-row.html %}

  </div>
</div>
