<p>
Homer Player doesn't use the standard music file storage to find the audio book files.
Instead it uses a special folder.
</p>

Here are the rules:
<ul>
<li>Create an <code>AudioBooks</code> folder on the device and copy the audio files there.
<li>Put each audio book in a separate folder.
<li>The folder name is the book title - it is read out loud while browsing.
<li>The files are played in alphabetical order.
<li>Audio files for each book may be put in subfolders (e.g. if a book comes on two CDs put the files in subfolders <code>cd1</code> and <code>cd2</code>).
<li>The MP3 file format is supported so audio books from most stores will play fine.
</ul>

<p>
To copy the files connect the device to your computer with a USB cable and use the file
explorer to create the directories and drag the files over to the device.
</p>
