<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.meta_title }}</title>
  {% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}">
  {% endif %}

  <link rel="canonical" href="{{ site.github.url }}{{ page.url }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  {% for css in page.extra_css %}
    <link rel="stylesheet" href="{{ "/css/" | prepend: site.baseurl }}{{ css }}">
  {% endfor %}

  {% include meta_og.html meta_og=page.meta_og %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% include ga.html %}

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" sizes="16 32" type="image/vnd.microsoft.icon">
</head>
