<script>
if (experimentVariation != 0 && experimentVariation != 4) {
  var galleryNav = document.querySelector('.page-gallery-html');
  var galleryLink = galleryNav.querySelector('a');
  if (experimentVariation == 2 || experimentVariation == 6)
    galleryLink.textContent = 'Gallery';
  else if (experimentVariation == 3 || experimentVariation == 7)
    galleryLink.textContent = 'Screenshots';

  galleryNav.className = galleryNav.className.replace(/\bhidden\b/,'');
}
</script>

<!-- Bootstrap Core JavaScript -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

{% for js in page.extra_js %}
<script src="{{ "/js/" | prepend: site.baseurl }}{{ js }}"></script>
{% endfor %}

{% if page.extra_js_block %}
<script>
{{ page.extra_js_block }}
</script>
{% endif %}
