{% if include.meta_og %}
	<meta property="og:title" content="{{ include.meta_og.title }}">
	<meta property="og:description" content="{{ include.meta_og.description }}">
        <meta property="fb:admins" content="{{ include.meta_og.admins }}">
	<meta property="og:site_name" content="Homer Player">
{% if include.meta_og.path %}
        <meta property="og:url" content="{{ site.github.url | replace: 'http://', '//' }}{{ include.meta_og.path }}" >
{% else %}
	<meta property="og:url" content="{{ site.github.url | replace: 'http://', '//' }}{{ page.url }}">
{% endif %}
{% if include.meta_og.type %}
	<meta property="og:type" content="{{ include.meta_og.type }}">
{% endif %}
{% if include.meta_og.image %}
	<meta property="og:image" content="{{ site.github.url | replace: 'http://', '//' }}{{ include.meta_og.image.path }}">
	<meta property="og:image:width" content="{{ include.meta_og.image.width }}">
	<meta property="og:image:height" content="{{ include.meta_og.image.height }}">
{% endif %}
{% if include.meta_og.video_url %}
	<meta property="og:video" content="{{ include.meta_og.video_url }}">
{% endif %}
{% if include.meta_og.video_url_secure %}
	<meta property="og:video:secure_url" content="{{ include.meta_og.video_url_secure }}">
{% endif %}
{% endif %}
