{% assign navigation = '/gallery.html,/features.html,/getting-started.html,/install-dedicated.html,/faq.html' | split: ',' ] %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navigation-bar">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ "/index.html" | prepend: site.baseurl }}"><img src="{{ "/img/icon-64.png" | prepend: site.baseurl }}" width="32"></a>
  </div>

  <div class="collapse navbar-collapse" id="navigation-bar">
    <ul class="nav navbar-nav">
    {% include nav-items.html navigation=navigation %}
    </ul>
  </div>
  </div>
</nav>
