<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.studio4plus.homerplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="true" />
    <uses-feature android:name="android.software.home_screen" android:required="false" />
    <uses-feature android:name="android.software.device_admin" android:required="false" />

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppThemeClassic"
        android:name=".HomerPlayerApplication"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:label="@string/app_name"
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings_title"
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:name=".ui.HomeActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.PlaybackService" android:exported="false"/>
        <service android:name=".service.DemoSamplesInstallerService" android:exported="false"/>

        <receiver android:name=".HomerPlayerDeviceAdmin"
            android:label="@string/device_admin_label"
            android:description="@string/device_admin_description">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_info"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <!-- The provider needs to be exported so that it is available to ADB shell.
             It only provides some configuration settings which aren't very sensitive information. -->
        <provider
            android:authorities="com.studio4plus.homerplayer.config"
            android:name=".content.ConfigurationContentProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />

    </application>

</manifest>
