<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio4plus.homerplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="true" />
    <uses-feature android:name="android.software.home_screen" android:required="false" />
    <uses-feature android:name="android.software.device_admin" android:required="false" />

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name=".HomerPlayerApplication">

        <activity
            android:label="@string/app_name"
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/SettingsTheme"
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:name=".ui.HomeActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name=".service.PlaybackService"/>

        <receiver android:name=".HomerPlayerDeviceAdmin"
            android:label="@string/device_admin_label"
            android:description="@string/device_admin_description">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_info"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".downloads.DownloadReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Used for Google Play Store Campaign Measurement-->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="91e15c5f7c7de7af5def5ea4c7373afdbb745355" />
    </application>

</manifest>
