---
layout: empty
---
{% include navbar.html %}

<header class="page-title-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container-fluid">
    <div class="row">
      <div class="page-heading heading">
        <h1>{{ page.heading }}</h1>
        {% if page.description %}
        <hr>
        <span class="subheading">{{ page.description }}</span>
        {% endif %}
    </div>
  </div>
</header>

<div class="container content">

  <div class="additional-info info"><strong>Project discontinued:</strong>
    please consider switching to the new <a href="https://msimonides.github.io/homerplayer2">Homer Audio Player</a>.<br>
    The old Homer is renamed "Homer Player Classic" and can still be found
    on this website and on the Google Play Store.
  </div>

  {{ content }}
</div>

{% include footer.html %}
